<h1>Listado de Clientes</h1>


<h3 *ngIf="this.clientes.length == 0">Cargando listado de clientes...</h3>
<ul *ngIf="this.clientes.length > 0">
    <li *ngFor="let cliente of this.clientes; let i = index">
        Cliente {{ i }}: {{ cliente.nombre }} - Edad: {{ cliente.edad }} 
        <span *ngIf="cliente.status" style="color: green;">Cliente activo</span>
        <span *ngIf="!cliente.status" style="color:red;">Cliente inactivo</span>
        

        <div [ngSwitch]="cliente.edad">
            <p *ngSwitchCase="21">
                mayor de 21
            </p>
            <p *ngSwitchCase="22">
                otra cosa
            </p>
            <p *ngSwitchCase="23">
                veintitres
            </p>
            <p *ngSwitchCase="24">
                veinticuatro
            </p>
            <p *ngSwitchDefault>
                ninguna de las anteriores
            </p>
        </div>
        
    </li>
</ul>